$primaryfont: 'Montserrat', sans-serif;

$secondaryfont: 'Open Sans', sans-serif;

$minorfont: 'Domine', serif;

$primarycolor: #fa5c65;

$titlecolor: #314a5b;

$textcolor: #9aa0ab;

$decoratecolor: #f0454c;